{% extends 'polls/index.html' %}
{% block beat %}
            <h1>{{ quest.question_text }}</h1>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        </header>
        <div>
            <form action="{% url 'polls:vote' quest.id %}" method="post">
                {% csrf_token %}
                {% for choice in quest.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                {% endfor %}
                <input type="submit" value="choice">
            </form>
        </div>

{% endblock %}
    